In [1]:
#inserciones por teclado
valor=input()

barry

In [2]:
valor

'barry'

In [3]:
numero=int(input('Ingrese un número'))

Ingrese un número5

In [4]:
numero

5

In [5]:
type(numero)

int

In [6]:
#los inputs trabajan con  cadenas almacenan cadenas así que si queremos hacer operaciones con los valores numéricos
#ingresados por teclado tenemos que castearlas 
#ejemplo
a=input("ingrese el primer número: ")
b=input("ingrese el segundo número: ")

ingrese el primer número: 4
ingrese el segundo número: 5

In [7]:
#nos concatenará las cadenas 
suma=a+b
suma

'45'

In [8]:
#ahora veremos con el cast
a=int(input("ingrese el primer número: "))
b=int(input("ingrese el segundo número: "))
suma =a+ b
suma

ingrese el primer número: 4
ingrese el segundo número: 5

9

In [10]:
#casteando a float
valor=float(input("ingresa un decimal: "))
valor + 10

ingresa un decimal: 5

15.0